artifacts
Builds
Samples/Build
Samples/Builds
TinySamples/Build
TinySamples/Builds
Library
[Ll]ogs
[Tt]emp
obj
obj.meta

.bin
.download
.[Ee]ditor
.UnityLauncher.Editor
.vs
.vscode

.DS_Store
*.app
*.csproj
*.csproj.user
*.DotSettings
*.gen.csproj.meta
*.idea
*.pyc
*.sln
*.suo
*.swp
*.user
*.userprefs
*.VC.*

*~master*
*~HEAD*

**/Assets/Plugins/*
**/Assets/Plugins.meta

EntityCache
EntityCache.meta
PerformanceTestResults.json
PerformanceTestResults.json.meta
PerformanceTestRunInfo.json
PerformanceTestRunInfo.json.meta
StreamingAssets
StreamingAssets.meta
TestResults.xml
TestResults.xml.meta
TestRunner
TestRunner.meta

InitTestScene*
output/*
Samples/Assets/TypeDependencyCache*
Samples/Assets/SceneDependencyCache*
